* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100dvw;
    min-height: 100vh;
    background-color: rgb(33, 43, 49);
}
header {
    display: flex;
    justify-content: center;
}
.s-header {
    width: 70%;
    height: 100px;
    background-color: aquamarine;
}